#root{
    width:fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1300px;
    background-color: rgb(94, 151, 151);
}